//countries page
.container_parent {
    padding: 20px;
    text-align: center;
}

.user_input_container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

form {
    text-align: center;
    margin-right: 30px;
}

#country_select {
    display: inline-block;
    height: 20px;
}

.user_input {
    width: 300px;
    height: 20px;
    border: none;
    border-bottom: 3px solid gray;
}

.user_input::placeholder{
    text-align: center;
    font-size: 1.1rem;
}


.country_List {
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(4, 1fr);

}

.country_card {
    border: 1px solid black;
    text-align: center;
}


