<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coutry app</title>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" >
</head>
<body>
    <header>
        <div class="header__logo">Node JS</div>
        <div class="header__search">Search</div>
    </header>

    <!-- <a href="/name/<% countryList.name %>">CLICK</a> -->
    <div class="wrapper">
        <div class="countries">
                <% for(let i = 0; i < countryList.length; i++ ){ %>
                    <a href="/country/<%- countryList[i].name %>" class="country_card">
                        <h2><%- countryList[i].name %></h2>
                        <img src="<%- countryList[i].flags.svg %>" alt="">
                    </a>
                <% } %>        
        </div>
    </div>

    <script src="./js/script.js" text/javascript></script>
</body>
</html>